@charset "UTF-8";
/* CSS Document */
/*
*{
	margin:0;
	padding:0;
}
*/
html, body{
	background:white;
}

body, textarea {
    font: 15px "Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif;
}

a{
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

p{
	margin:10px 0;
	line-height:1.1em;
}


.header{
    background-color:#fafafa;
}

.main{
  margin: 20px;
}

ul {
  margin-left: 30px;
}
.content{
}

.error{
    color:red;
}

.error_message{
    background-color:#ffb6c1;

    margin-top:10px;
    margin-bottom:10px;
    height:0;
}

.message{
    background-color:#7fffd4;
    
    margin-top:10px;
    margin-bottom:10px;
}

.footer{
  margin-top: 60px;
  color: #383838;
  font-size: 8pt;
  background-color:#fafafa;
}



table tr td{
    background-color:#dcdcdc;
    padding:10px;
}

/* card display */
div.card_image_display {
  float: left;
}
div.card_info_display {
  margin-left: 280px;
}
div.card_info_line {
  clear:right;
  display:block;
  height: 26px;
}
div.card_info_title {
  float: left;
  width: 180px;
  font-weight: bold;
}
div.card_info_value {
}